<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swufe.firstapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".TestActivity"
            android:label="学院公告查询">

        </activity>
        <activity
            android:name=".RateCatculateActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth"
            android:label="RateCatculate">
        </activity>
        <activity
            android:name=".MyList2Activity"
            android:label="rateList">
        </activity>
        <activity
            android:name=".MyListActivity"
            android:label="myList">
        </activity>
        <activity
            android:name=".RateList"
            android:label="Rate">
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:label="config">
        </activity>
        <activity
            android:name=".RateActivity"
            android:label="Rate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoreActivity"
            android:label="Temperature" />
    </application>

</manifest>